/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Navbar */
nav {
    background-color:#1f1d1d;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.logo{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    color: rgb(255, 215, 35);
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 1rem;

    
}
.nav-links a{
    color: #fff;
    text-decoration: none;
    font-size:22px ;
}
.nav-links a:hover{
    color: #ff6347;
    
}
#profile{
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
}
.profile-section img{
    width: 250px;
    height: 250px;
    border-radius: 50% 50% 50% 50%;
    object-fit: cover;

}
button{
    background-color:#ff4500;
    color: white;
    border: none;
    padding:0.7rem 1.5rem;
    font-size: 1.1rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button:hover{
    background-color:#8d2500;
}

#education{
    padding: 50px;
    background-color: #f4f4f4;
}
#education h2{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;  
}
.education-card{
    background-color:#fff;
}
#contact{
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
}
.contact-card{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    border-radius: 10px;
}
#contact h2{
    font-size: 36px;
    margin-bottom: 20px;
    color:#333
}
#contact p{
    font-size: 18px;
    margin-bottom: 20px;
    color:#333
}
.form-group{
    margin-bottom: 20px;
    text-align: left;
}
.form-group label{
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color:#333
}
.form-group input,
.from-group text area{
width: 100%;
padding: 10px;
border: 1px solid #ddd;
border-radius: 16px;
font-size: 16px;
}
.skills-section {
    text-align: center;
    background-color: #f9f9f9;
    padding: 50px 20px;
}

.skills-section h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
    color: #333;
}

.skills-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.skill-card {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 150px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.skill-card:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.skill-icon img {
    width: 50px;
    margin-bottom: 10px;
}

.skill-bar {
    background-color: #f1f1f1;
    border-radius: 25px;
    height: 10px;
    width: 100%;
    position: relative;
}

.skill-level {
    background-color: #4caf50;
    height: 100%;
    border-radius: 25px;
    transition: width 0.3s ease-in-out;
}

footer {
    background-color: transparent;
    backdrop-filter: blur(5px);
    color: black;
    padding: 30px 0;
    text-align: center;
    margin-top: 50px;
  }
  
  .footer-content h3 {
    font-size: 24px;
    margin-bottom: 10px;
    filter: drop-shadow(7px 7px 7px black);
  }
  
  .footer-content p {
    font-size: 16px;
  }
  
  .footer-content .socials {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .footer-content .socials li {
    margin: 0 10px;
  }
  
  .footer-content .socials a {
    color: white;
    font-size: 20px;
    transition: color 0.3s ease;
  }
  
  .footer-content .socials a:hover {
    color: #ff6347;
  }
  
  .footer-bottom {
    background-color: black;
    padding: 10px 0;
    margin-top: 20px;
  }
  
  .footer-bottom p {
    margin: 0;
    font-size: 14px;
  }
  .socials img{
    width: 45px;
    height: 45px;
    object-fit: cover;
    transition: transform 0.3s ease;
    filter: grayscale(20%);
    filter: drop-shadow(2px 2px 2px black);
  }
  
  .socials img:hover{
    transform: scale(1.08);
    filter: grayscale(100%);
  }

  #project{
    padding: 50px;
 }
 
 #project h2{
    justify-content: center;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.8rem;
    margin-bottom: 20px;
    background-color:rgba(255,255,255, 0.3);
    backdrop-filter: blur(20px);
    border: 2px solid white;
    color: black;
   border-radius: 10px;
 
 }
 
 #projects {
    /* background-color: white; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
 
  .project-card {
    background-color: rgba(255,255,255,0.3);
    backdrop-filter: blur(20px);
    border: 2px solid white;
    position: relative;
    width: 300px;
    height: 200px;
    margin: 20px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  
  .project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .project-description {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: left 0.5s ease;
  }
  
  .project-description h3 {
    margin: 0;
    font-size: 1.5em;
    color: aliceblue; /* Customize the title color */
  }
  
  .project-description p {
    margin: 10px 0;
    padding: 0 20px;
    font-size: 1em;
    text-align: center;
  }
  
  .view-button {
    text-decoration: none;
    color: black;
    background-color: white; /* Button color */
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .view-button:hover {
    background-color: black;
    color: white;
    border: 2px solid white;
  }
  
  .project-card:hover .project-description {
    left: 0;
  }

  #blog {
    padding: 50px ;
    /* background-color: white; */
    text-align: center;
  }
  
  #blog h2 {
   justify-content: center;
   text-align: center;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 1.8rem;
   /* margin: 0px 390px; */
   margin-bottom: 20px;
   background-color:rgba(255,255,255, 0.3);
   backdrop-filter: blur(20px);
   border: 2px solid white;
   color: black;
  border-radius: 10px;
  }
  
  .scroll-container {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 20px;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: linear-gradiant(90deg,
    rgba(2,0,36,1)0%
    rgba(9,9,121,1)35%
    rgba(255,255,155,1)100%);
    border-radius: 50px;
  }
  
  .scroll-container::-webkit-scrollbar {
    height: 8px;
  }
  
  .scroll-container::-webkit-scrollbar-thumb {
    background-color: #ff5733;
    border-radius: 20px;
  }
  
  .scroll-container::-webkit-scrollbar-track {
    background-color: #f4f4f9;
  }
  
  .blog-card {
    min-width: 300px;
    background-color:rgba(255,255,255,0.3);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .blog-card:hover {
    transform: scale(1.05);
  }
  
  .blog-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .blog-card h3 {
    margin: 20px 0 10px;
    font-size: 1.5em;
    color: rgb(8, 56, 97);
  }
  
  .blog-card p {
    padding: 0 20px;
    font-size: 1em;
    color: rgb(234, 14, 36);
  }
  
  .read-more {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
  }
  
  .read-more:hover {
    background-color:black;
    color: white;
    border: 2px solid white;
  }